<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>About Us</title>
    <link rel="stylesheet" media="screen and (min-width: 300px)  and (max-width:500px)" href="../css/mobile/about.css">
    <link rel="stylesheet" media="screen and (min-width: 501px) and (max-width:768px)" href="../css/tablet/about.css">
    <link rel="stylesheet" media="screen and (min-width: 769px) and (max-width: 1200px)" href="../css/normal/about.css">
    <link rel="stylesheet" media="screen and (min-width: 1201px)" href="../css/widescreen/about.css">
    <link rel="stylesheet" media="screen and (min-width: 1201px)" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
</head>
<body>
    <!-- ---------------------------------------navBar Started-------------------------------- -->
    <nav id="navBar">
        <div class="menu-wrap">
            <input type="checkbox" name="" class="toggler">
            <div class="hamburger"><div></div></div>
            <div class="menu">
            <div>
                <div>
                    <ul>
                        <li><a href="../index.html" style="color: #fff !important ;">HOME</a></li>
                        <li class="company"><a href="./aboutUs.html">COMPANY</a></li>
                        <li><a href="./services.html">Services</a></li>
                        <li><a href="./contact.html">Contact</a></li>
                        <li><a href="./shop.html">Shop</a></li>
                    </ul>
                </div>
            </div>
            </div>
        </div>
        <div class="logo">
            <a href="../index.html"><img src="../images/logo.png" alt="WESAS"></a>
            <h1>Wesas</h1>
        </div>
        <div class="connect">
            <a href="./shop.html"><button>Get Started</button></a>
        </div>
    </nav>
    <!-- ---------------------------------------navBar ENDS-------------------------------- -->

    <!-- ---------------------------------------navBar STARTED-------------------------------- -->

    <header id="intro">
        <div class="backGroundImage">
            <video playsinline autoplay muted loop poster="./resource/images/construction-1491693.jpg" id="bgvid">
                <source src="../images/about/Working-Space.webm" type="video/webm">
                <source src="../images/about/Working-Space.mp4" type="video/mp4">
            </video>    
            <div class="info">
                <p class="heading1">{Learn.Play.Apply}</p>
            </div>
        </div>
    </header>

    <!-- ---------------------------------------Header ENDS-------------------------------- -->

    <!-- ---------------------------------------Journey STARTS-------------------------------- -->

    <section id="journey">
        <div class="introduction">
            <div class="into">
                <h5>THE JOURNEY</h5>
                <hr>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Natus non debitis, maiores ut eum a, animi magni ab quam cumque possimus nam sed. Nam inventore enim ex vitae tenetur repellendus labore iusto natus pariatur, fuga unde cum quia voluptatem numquam repellat assumenda sint, commodi magni error culpa. Possimus, illum similique!</p>
            </div>
            <div class="quote">
                <div class="heading">
                    <h1>Lorem ipsum dolor sit</h1>
                </div>
                <div class="details">
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Optio ratione molestiae fugiat, officia ipsa labore rem corporis consequuntur quod vitae autem ad sapiente laudantium eligendi inventore expedita odit similique pariatur? Accusamus ipsam minima alias quisquam autem maxime ut est ipsum asperiores ex tenetur obcaecati natus illo dolore quas inventore quis magni animi delectus, sint aperiam harum? Ut doloribus impedit deserunt, blanditiis esse consequatur ad, animi exercitationem, cumque dignissimos minus nostrum!</p>
                </div>
            </div>
        </div>
        <div class="founderDetails">
            <div><h1>Founder</h1></div>
            <div class="founder">
                <div class="image">
                    <img src="../images/about/images/founder.jpg" alt="">
                </div>
                <div class="info">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae excepturi rerum veniam. Voluptatem, officia quam nisi tempora quas dignissimos unde debitis perferendis maxime. Debitis neque, delectus natus fugit cumque omnis molestias repellendus officia ipsa facilis ullam aperiam aspernatur! Odit, velit ad! Ab totam natus id repellendus nostrum error architecto labore!</p>
                </div>
            </div>
        </div>
        <div class="details">
            <h5>HOW Wesas IS DIFFERENT?</h5>
            <hr>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe repudiandae iste beatae veritatis placeat quae praesentium sequi voluptates, pariatur autem illum asperiores commodi debitis optio voluptate veniam aperiam. Ducimus nobis quo deserunt quos ullam repudiandae nostrum velit nemo. Dolorem ex voluptatibus enim quia natus ducimus! Asperiores, hic a. Optio aliquam fugit in aspernatur possimus facere dicta ad, quidem veritatis corrupti tempora nihil aut voluptatibus? Dolor aut officiis voluptates nesciunt error harum sunt id iste perspiciatis! Adipisci atque quaerat dolorem. Cum enim dolores quibusdam distinctio. Earum asperiores id obcaecati deserunt, quo accusantium esse beatae aperiam voluptate perferendis quia veniam nemo recusandae!</p>
        </div>
    </section>
    <!-- ---------------------------------------Journey Never ENDS-------------------------------- -->

    <!-- ---------------------------------------Testimonials Start-------------------------------- -->
    <section id="testimonials">
        <p class="headings">What People Say</p>
        <div class="says">
            <article>
                <p class="quote">I'm a testimonial. Click to edit me and add text that says something nice about you and your services.</p>
                <h2>Sam Price, CA</h2>
            </article>
        </div>
    </section>
    <!-- ---------------------------------------Testimonials ENDS-------------------------------- -->

    <!-- ---------------------------------------Footer Start-------------------------------- -->
    <footer>
            <p>&copy; Copyright 2019, Wesas. All Rights Reserved.</p>
    </footer>
    <!-- ---------------------------------------Footer ENDS-------------------------------- -->

</body>
</html>