<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" media="screen and (min-width: 300px)  and (max-width:500px)" href="../css/mobile/contact.css">
    <link rel="stylesheet" media="screen and (min-width: 501px) and (max-width:768px)" href="../css/tablet/contact.css">
    <link rel="stylesheet" media="screen and (min-width: 769px) and (max-width: 1200px)" href="../css/normal/contact.css">
    <link rel="stylesheet" media="screen and (min-width: 1201px)" href="../css/widescreen/contact.css">
    <link rel="stylesheet" media="screen and (min-width: 1201px)"href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <title>Contact Us</title>
</head>
<body>
    <nav id="navBar">
        <div class="menu-wrap">
            <input type="checkbox" name="" class="toggler">
            <div class="hamburger"><div></div></div>
            <div class="menu">
            <div>
                <div>
                    <ul>
                        <li><a href="../index.html" style="color: #fff !important ;">HOME</a></li>
                        <li class="company"><a href="./aboutUs.html">COMPANY</a></li>
                        <li><a href="./services.html">Services</a></li>
                        <li><a href="./contact.html">Contact</a></li>
                        <li><a href="./shop.html">Shop</a></li>
                    </ul>
                </div>
            </div>
            </div>
        </div>
        <div class="logo">
                <a href="../index.html"><img src="../images/logo.png" alt="WESAS"></a>
                <h1>Wesas</h1>
        </div>
        <div class="connect">
            <a href="./shop.html"><button>Get Started</button></a>
        </div>
    </nav>
    <section id="contact">
        <div class="container">
            <h1>Sign up for all the latest tips, tricks, and trends</h1>
            <form action="#">
                <input type="email" name="email" id="" placeholder="Email">
                <button type="submit">Send</button>
            </form>
            <p>500 Terry A Francois Blvd. San Francisco, CA 94158, USA</p>
            <p>Phone No : 555 555 555 | Whatsapp No : 555 555 55</p>
            <a href="mailto:subDomain@domain.com">Email Me : <span style="color: rgb(253, 150, 124);">subDomain@domain.com</span></a>
        </div>
        <div class="contactForm">
            <h1>Contact Us</h1>
            <form action="#">
                <input type="text" name="name" id="" placeholder="Name">
                <input type="text" name="number" id="" placeholder="Number">
                <input type="email" name="email" id="" placeholder="Email">
                <textarea name="message" id="" cols="30" placeholder="Message"></textarea>
                <button type="submit">Submit</button>
            </form>
        </div>
    </section>
</body>
</html>