<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" media="screen and (min-width: 300px)  and (max-width:500px)" href="../css/mobile/services.css">
    <link rel="stylesheet" media="screen and (min-width: 501px) and (max-width:768px)" href="../css/tablet/services.css">
    <link rel="stylesheet" media="screen and (min-width: 769px) and (max-width: 1200px)" href="../css/normal/services.css">
    <link rel="stylesheet" media="screen and (min-width: 1201px)" href="../css/widescreen/services.css">
    <link rel="stylesheet" media="screen and (min-width: 1201px)"href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <title>Services</title>
</head>
<body>
    <nav id="navBar">
        <div class="menu-wrap">
            <input type="checkbox" name="" class="toggler">
            <div class="hamburger"><div></div></div>
            <div class="menu">
            <div>
                <div>
                    <ul>
                        <li><a href="../index.html" style="color: #fff !important ;">HOME</a></li>
                        <li class="company"><a href="./aboutUs.html">COMPANY</a></li>
                        <li><a href="./services.html">Services</a></li>
                        <li><a href="./contact.html">Contact</a></li>
                        <li><a href="./shop.html">Shop</a></li>
                    </ul>
                </div>
            </div>
            </div>
        </div>
        <div class="logo">
            <a href="../index.html"><img src="../images/logo.png" alt="WESAS"></a>
            <h1>Wesas</h1>
        </div>
        <div class="connect">
            <a href="./shop.html"><button>Get Started</button></a>
        </div>
    </nav>
    <section id="services">
        <div class="introduction">
                <div><h1>Services</h1></div>
                <div><p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Hic optio<br>provident dolor maiores molestias veritatis, sit id illum. Soluta expedita<br>nam a doloribus dolores, repudiandae dicta nihil. Voluptatibus ducimus quo dolore<br>corrupti officiis nihil, nesciunt ut deleniti id labore accusamus quasi beatae,<br>ugiat ipsam explicabo magnam praesentium impedit accusantium? Iusto.</p></div>
        </div>
        <div class="listOfServices">
            <div class="service">
                <div class="image">
                    <img src="../images/services/image/uiux.jpeg" alt="">
                </div>
                <div class="content">
                    <h1>UX/UI DESIGN</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus ipsa rem doloribus ea doloremque assumenda nostrum officia saepe quibusdam! Amet, quibusdam? Nemo, magni. At praesentium architecto laborum explicabo quo molestiae necessitatibus temporibus, quasi enim voluptate autem molestias, provident reiciendis ea!</p>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Officiis impedit pariatur libero possimus autem ullam quidem hic. Sint, voluptates. Nam doloremque, debitis maiores beatae praesentium officia minus sed molestias unde saepe nisi soluta commodi quae natus omnis adipisci. Officiis voluptatum, quae, illo quis ipsam tempore deleniti quaerat eveniet porro placeat in consectetur totam fugiat. Sapiente laudantium rerum deleniti voluptatibus tempora repellendus doloremque cumque facilis. Soluta maiores, dolore laudantium pariatur adipisci quos ratione at eveniet aliquid dolorem, voluptatem molestiae expedita corrupti!</p>
                </div>
            </div>
            <div class="service">
                <div class="image">
                    <img src="../images/services/image/frontend.jpg" alt="">
                </div>
                <div class="content">
                    <h1>FRONT-END DEVELOPMENT</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus ipsa rem doloribus ea doloremque assumenda nostrum officia saepe quibusdam! Amet, quibusdam? Nemo, magni. At praesentium architecto laborum explicabo quo molestiae necessitatibus temporibus, quasi enim voluptate autem molestias, provident reiciendis ea!</p>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Officiis impedit pariatur libero possimus autem ullam quidem hic. Sint, voluptates. Nam doloremque, debitis maiores beatae praesentium officia minus sed molestias unde saepe nisi soluta commodi quae natus omnis adipisci. Officiis voluptatum, quae, illo quis ipsam tempore deleniti quaerat eveniet porro placeat in consectetur totam fugiat. Sapiente laudantium rerum deleniti voluptatibus tempora repellendus doloremque cumque facilis. Soluta maiores, dolore laudantium pariatur adipisci quos ratione at eveniet aliquid dolorem, voluptatem molestiae expedita corrupti!</p>
                </div>
            </div>
            <div class="service">
                <div class="image">
                    <img src="../images/services/image/backend.jpg" alt="">
                </div>
                <div class="content">
                    <h1>BACK-END DEVELOPMENT</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus ipsa rem doloribus ea doloremque assumenda nostrum officia saepe quibusdam! Amet, quibusdam? Nemo, magni. At praesentium architecto laborum explicabo quo molestiae necessitatibus temporibus, quasi enim voluptate autem molestias, provident reiciendis ea!</p>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Officiis impedit pariatur libero possimus autem ullam quidem hic. Sint, voluptates. Nam doloremque, debitis maiores beatae praesentium officia minus sed molestias unde saepe nisi soluta commodi quae natus omnis adipisci. Officiis voluptatum, quae, illo quis ipsam tempore deleniti quaerat eveniet porro placeat in consectetur totam fugiat. Sapiente laudantium rerum deleniti voluptatibus tempora repellendus doloremque cumque facilis. Soluta maiores, dolore laudantium pariatur adipisci quos ratione at eveniet aliquid dolorem, voluptatem molestiae expedita corrupti!</p>
                </div>
            </div>
            <div class="service">
                <div class="image">
                    <img src="../images/services/image/mobileApp.jpg" alt="">
                </div>
                <div class="content">
                    <h1>MOBILE APPLICATION DEVELOPMENT</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus ipsa rem doloribus ea doloremque assumenda nostrum officia saepe quibusdam! Amet, quibusdam? Nemo, magni. At praesentium architecto laborum explicabo quo molestiae necessitatibus temporibus, quasi enim voluptate autem molestias, provident reiciendis ea!</p>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Officiis impedit pariatur libero possimus autem ullam quidem hic. Sint, voluptates. Nam doloremque, debitis maiores beatae praesentium officia minus sed molestias unde saepe nisi soluta commodi quae natus omnis adipisci. Officiis voluptatum, quae, illo quis ipsam tempore deleniti quaerat eveniet porro placeat in consectetur totam fugiat. Sapiente laudantium rerum deleniti voluptatibus tempora repellendus doloremque cumque facilis. Soluta maiores, dolore laudantium pariatur adipisci quos ratione at eveniet aliquid dolorem, voluptatem molestiae expedita corrupti!</p>
                </div>
            </div>
        </div>
    </section>
    <footer>
            <p>&copy; Copyright 2019, Wesas. All Rights Reserved.</p>
    </footer>
</body>
</html>